* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ===============SPLASHSCREEN=================== ===============SPLASHSCREEN=================== */
.background {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.912);
}

.background::before {
    content: ' ';
    background-image: url("https://cdn.discordapp.com/attachments/1310630927294271569/1380894437617700896/cleaned_upscaled_image.png?ex=684589a9&is=68443829&hm=b0f474e34c903a55772af1b383401ad1741d3d22c6638d50b4061eda1a499346&");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    filter: blur(2px);

}

table {
    text-align: center;
    margin: 5%;
    margin-top: 1px;
}

h {
    line-height: 1;
    letter-spacing: -2px;
    font-weight: 600;
    font-size: 120px;
    font-family: Poppins;
    color: white;
}

p {
    max-width: 1000px;
    margin: 10px auto 30px;
    font-size: 18px;
    line-height: 1.6;
    color: white;
    font-weight: normal;
}


.members {
    margin-top: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}

.center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
}

.ring {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #60e600;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b7ff;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #13e600;
    }
}

.ring::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}

span {
    color: #737373;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out linear;
}

/* ===============SPLASHSCREEN=================== ===============SPLASHSCREEN=================== */

/* ========================HOMEPAGE======================== ========================HOMEPAGE========================*/
.background2 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.634);
}

.background2::before {
    content: ' ';
    background-image: url("https://cdn.discordapp.com/attachments/1310630927294271569/1380894437617700896/cleaned_upscaled_image.png?ex=684589a9&is=68443829&hm=b0f474e34c903a55772af1b383401ad1741d3d22c6638d50b4061eda1a499346&");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 70%;
    filter: blur(1px);
    z-index: -1;

}

.custom-navbar {
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1050;
    transition: background-color 0.3s ease;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(3px);
}

#navlinks {
    font-family: Poppins;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    transition: background-color 0.7s;
}

#navlinks:hover {
    color: white#af3c3c;
    background-color: rgb(0, 0, 0);
    transition: 0.8s;
}

body {
    opacity: 1;
    transition: opacity 1s ease-out;
}

body.fade-out {
    opacity: 0;
}

#redirect {
    width: 200px;
    height: 300px;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.374);
    color: aliceblue;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    transition: background-color 0.5s, transform 0.5s;
}

#redirect:hover {
    background-color: rgb(0, 0, 0);
    transform: translateY(-10px);
    transition: 0.5s;


}

.btn {
    background-color: green;
    display: block;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: fit-content;

}

.logo {
    height: 60px;
    width: 60px;
}

.card-img-top {

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.card-title {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

}

#SDG {
    margin-top: 120px;
}

.img-fluid {
    width: 150px;
}

.card-body img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 35px;
}
footer{
background-color: rgba(255, 255, 255, 0.4);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
border-top: 1px solid rgba(0, 0, 0, 0.1);
font-weight: 500;
font-size: 15px;
}

/* ========================HOMEPAGE======================== ========================HOMEPAGE========================*/



/* ========================LINKED PAGES======================== ========================LINKED PAGES ========================*/
.custom-navbar2 {
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1050;
    transition: background-color 0.3s ease;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(3px);
}

#navlinks2 {
    font-family: Poppins;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    transition: background-color 0.7s;
}

#navlinks2:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.8s;
}

.linkedpages {
    font-family: Arial, sans-serif;
    background-color: #000000;
    background-image: url("https://cdn.discordapp.com/attachments/1310630927294271569/1380894437617700896/cleaned_upscaled_image.png?ex=684589a9&is=68443829&hm=b0f474e34c903a55772af1b383401ad1741d3d22c6638d50b4061eda1a499346&");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

main {
    padding: 100px 30px 30px 30px;
    max-width: 850px;
    margin: auto;
}
.main2{
    padding: 0 30px 0px 0px;
    margin: auto;
    padding-top: 80px;
}

section {
     background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 20px;
    margin-bottom: 25px;
    margin-left: 5px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
section p{
    color: black;

}
.actions{
    height: 310px;
    width: 300px;
}

.centered-table {
    margin-left: auto;
    margin-right: auto;
}

.action-card{
    height: 350px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

}
.action-card ul{
    text-align: left;

}

/* ========================CLIMATE CHANGE======================== ========================CLIMATE CHANGE========================*/

